#header-wrap {
    height: 100px;
    transition-delay: 0s,0s;
    transition-duration: .4s,.3s;
    transition-property: height,opacity;
    transition-timing-function: ease,ease;
    z-index: 199;
  }
  #header {
    background-color: #FFF;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
    display: block;
}
 .container.clearfix {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
  }
  .logosvg {
        border-style: none;
        box-sizing: border-box;
        display: block;
        float: left;
        height: 100px;
        max-width: 100%;
        transition-delay: 0s,0s;
        transition-duration: .4s,.3s;
        transition-property: height,opacity;
        transition-timing-function: ease,ease;
        margin-bottom: 0;
        padding: .6em;
  }
  #primary-menu {
    float: right;
    display: block;
}
#primary-menu>ul {
    float: left;
}
#primary-menu ul {
    list-style: none;
    margin: 0;
}
li.menu {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
  }

a.link {
    background-color: transparent;
    border: 1px solid #2e8ece;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 28px 0;
    outline: 0;
    padding: 10px 15px;
    text-decoration: underline;
    text-transform: uppercase;
    transition-delay: 0s,0s;
    transition-duration: .4s,.4s;
    transition-property: margin,padding;
    transition-timing-function: ease,ease;
  }
.box {
    box-sizing: border-box;
    font-family: Arimo;
}
