.slider {
    height: 700px;
}
.headline {
    position: absolute;
    bottom: 25%;
    left: 12%;
    padding: 2em;
    background-color: rgba(204, 221, 232, 0.8);
}
.button {
    display: flex;
    overflow: hidden;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: uppercase;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px #e4e4e4;
  }
  .button:hover {
    transition: all 150ms linear;
    opacity: .85;
  }
  .button:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  .button.-blue {
    color: white;
    background: #0f7bbc;
  }  
  .slider a.previousButton svg polygon, .slider a.nextButton svg polygon{
      fill: white;
  }